<section class="row section-two-mobile hidden-lg" id="services">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
        <h1 class="section-title2">WHAT IS ALFRED ?</h1>
        <p class="section-content2">
        	Alfred helps you to ride share in our cities in an affordable manner using the concept of car sharing. Alfred is an IOS and Android app which has been developed with the sole purpose of organising and facilitating ridesharing with a few clicks of a button. The app aims to make each task as easy as possible for users as algorithms automatically match users with suitable and relevant rides.
        </p>
    </div>
	</div>
  <div class="row">
  	<div id="btn_get_started" class="text-center col-md-2 col-md-offset-5">
			<a href="http://www.alfredridesharing.com/competition/" style="margin-left: -32px;"><%= image_tag("mobile/button.png", width: 210)%></a>
		</div>
		<div id="img_road_01" class="col-md-5 col-md-offset-7"><%= image_tag("mobile/road_01.png", :class => "img_road_01")%></div>
  </div>
	<div class="row text-center">
	<div id="icon_why_alfred"><%= image_tag("mobile/circle_why_alfred.png", :class => "img-why-alfred")%></div>
	</div>
	<div class="row text-center div-road-traffic">
		<div class="row">
			<div class="col-md-5 text-right">
				<div id="section_two_mobile_arrow_left"><%= image_tag("mobile/arrow_left.png")%></div>
			</div>
			<div class="col-md-2 text-right">
				<div id="icon_why_alfred"><%= image_tag("mobile/icon_road_traffic.png", :class => "icon_road_traffic")%></div>
			</div>
			<div class="col-md-5 text-left">
				<div id="section_two_mobile_arrow_left"><%= image_tag("mobile/arrow_right.png")%></div>
			</div>
		</div>
		<div class="txt-road-traffic">
			<p>London is a great world city but its transport system by the twenty-first century has obviously lagged behind the needs of its economy and its citizens. The population of London has grown slowly over the last 10 years having exceeded 8.5 million in 2015. The financial cost of congestion in London is estimated at £5.5bn a year. UK studies reveals that every day there are 38 million car seats vacant during commuting hours. Alfred aims to fill those empty seats, thus reducing the amount of traffic on our roads.</p>
		</div>
	</div>
	<div class="row text-center">
		<div id="section_two_mobile_road_2"><%= image_tag("mobile/road_02.png")%></div>
	</div>
</section>
