<section class="section-two">

		<div class="col-lg-8 col-lg-offset-2 text-center">
	        <h1 class="section-title2" style="margin-top: 60px;">WHAT IS ALFRED ?</h1>
	        <p class="section-content" style="margin-top: 60px; margin-bottom: 60px">
	        	Alfred helps you to ride share in our cities in an affordable manner using the concept of car sharing. Alfred is an IOS and Android app which has been developed with the sole purpose of organising and facilitating ridesharing with a few clicks of a button. The app aims to make each task as easy as possible for users as algorithms automatically match users with suitable and relevant rides.
	        </p>	        
	    </div>
	    <div class="row">
	    	<div class="col-md-offset-5 col-md-2">
	    		<a href="http://www.alfredridesharing.com/competition/" style="margin-left: -32px;"><%= image_tag("button_get_started.png", width: 320)%></a>
	    	</div>
	    </div>
	    <div class="row">
			<div class="col-md-5 left-section">
				<div class="row">
					<div class="col-md-4"><%= image_tag("icon_Road traffic.png")%></div>
					<div class="col-md-8 section-content-text">
						<h2>ROAD TRAFFIC</h2>
						<p class="left-section_t1">
							London is a great world city but its transport system by the twenty-first century has obviously lagged behind the needs of its economy and its citizens. The population of London has grown slowly over the last 10 years having exceeded 8.5 million in 2015. The financial cost of congestion in London is estimated at £5.5bn a year. UK studies reveals that every day there are 38 million car seats vacant during commuting hours. Alfred aims to fill those empty seats, thus reducing the amount of traffic on our roads.
						</p>
					</div>
				</div>
				<div class="row" style="margin-top: 160px;">
					<div class="col-md-4"><%= image_tag("icon_Over Crowding.png")%></div>
					<div class="col-md-8 section-content-text">
						<h2>Over Crowding</h2>
						<p style="margin-right: 55px;">
							It is publically recognised that overcrowding on public transport is unacceptable, and is likely to get worse. The recent introduction of London’s congestion charge has not helped our public transport as travellers routinely find themselves subjected to levels of overcrowding that are not simply uncomfortable, but positively frightening. Alfred offers an alternative means of transport in our cities in the form of ride sharing. Why not commute comfortably with Alfred rather than travel like a sardine in a can!
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-2">
				<div style="margin-left: 90px; margin-top: -60px;"><%= image_tag("road_01.png")%></div>
				<div style="margin-left: -107px; margin-top: -90px"><%= image_tag("icon_why_alfred.png")%></div>
			    <div style="margin-left: -26px; margin-top: -52px"><%= image_tag("road_02.png")%></div>
			</div>
			<div class="col-md-5 right-section">
				<div class="row">
					<div class="col-md-4"><%= image_tag("icon_Increasing public transport fares.png")%></div>
					<div class="col-md-8 section-content-text">
						<h2>Increasing public transport fares</h2>
						<p class="">
							Any ideas when this will end? In the UK average rail fare prices have increased by around 80% in a decade and average bus/coach fares have increased by 70%. London's local bus fares have risen by 87% on average since 2002. Alfred helps its users not to increase but decrease their commuting costs by sharing them with others!
						</p>
					</div>
				</div>
				<div class="row" style="margin-top: 200px; margin-left: -120px;">
					<div class="col-md-4"><%= image_tag("icon_Helping the environment.png")%></div>
					<div class="col-md-8 section-content-text">
						<h2>Helping the environment</h2>
						<p>
							Sadly, there is no longer any serious scientific doubt that global climate change is upon us. Continue as we are doing, and the UK transport CO2 emissions are expected to rise by 35% between 1990 and 2030. So it’s critical that we transform our behaviour in order to achieve our emissions reduction targets – and one of the easiest ways we can do this is by making changes to the way we travel. Alfred enables a reduction of cars on the road which in turn significantly reduces CO2 emissions.
						</p>
					</div>
				</div>
			</div>
		</div>
	    
	</section>
