<section class="row section-two hidden-lg" id="services">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
	        <h1 class="section-title2">WHAT IS ALFRED ?</h1>
	        <p class="section-content2">
	        	Alfred helps you to ride share in our cities in an affordable manner using the concept of car sharing. Alfred is an IOS and Android app which has been developed with the sole purpose of organising and facilitating ridesharing with a few clicks of a button. The app aims to make each task as easy as possible for users as algorithms automatically match users with suitable and relevant rides.
	        </p>
	    </div>
		</div>
    <div class="row">
    	<div id="btn_get_started" class="text-center col-md-2 col-md-offset-5">
				<a href="http://www.alfredridesharing.com/competition/" style="margin-left: -32px;"><%= image_tag("mobile/button.png", width: 210)%></a>
			</div>
			<div id="img_road_01" class="col-md-5 col-md-offset-7"><%= image_tag("mobile/road_01.png")%></div>
    </div>
    <div class="row text-center">

		</div>
		<div class="col-md-2">

			<div id="icon_why_alfred"><%= image_tag("icon_why_alfred.png")%></div>
		    <div id="img_road_02"><%= image_tag("road_02.png")%></div>
			</div>
			<div class="col-md-5 right-section">
				<div class="row">
					<div id="img_increasing_public_transport" class="col-md-4"><%= image_tag("icon_Increasing public transport fares.png")%></div>
					<div class="col-md-8 section-content-text">
						<h2 id="h2_increasing_public">Increasing public transport fares</h2>
						<p id="p_increasing_public">
							Any ideas when this will end? In the UK average rail fare prices have increased by around 80% in a decade and average bus/coach fares have increased by 70%. London's local bus fares have risen by 87% on average since 2002. Alfred helps its users not to increase but decrease their commuting costs by sharing them with others!
						</p>
					</div>
				</div>
				<div class="row right-section-2">
					<div id="img_helping" class="col-md-4"><%= image_tag("icon_Helping the environment.png")%></div>
					<div class="col-md-8 content-text">
						<h2 id="h2_helping">Helping the environment</h2>
						<p id="p_helping">
							Sadly, there is no longer any serious scientific doubt that global climate change is upon us. Continue as we are doing, and the UK transport CO2 emissions are expected to rise by 35% between 1990 and 2030. So it’s critical that we transform our behaviour in order to achieve our emissions reduction targets – and one of the easiest ways we can do this is by making changes to the way we travel. Alfred enables a reduction of cars on the road which in turn significantly reduces CO2 emissions.
						</p>
					</div>
				</div>
			</div>
		</div>

	</section>
