<div class="container1">	
	<section class="section-one">
		<div class="col-lg-8 col-lg-offset-2 text-center" id="section-one-txt">
	        <h1 style="font-size: 55px;">ALFRED: LET’S COMMUTE TOGETHER</h1>
	        <p>ALFRED AIMS TO PROVIDE AN ALTERNATIVE FORM OF TRANSPORT FOR</p>
	        <p>THE URBAN POPULATION IN THE FORM OF RIDESHARING.</p>
	        <p>ALFRED HELPS YOU TO SHARE OR JOIN A RIDE AT THE TAP OF A BUTTON</p>
			<button type="button" class="btn btn-primary btn-xl page-scroll" data-toggle="modal" data-target="#myModal">FIND OUT MORE</button>
	    </div>
		
	</section>

	<section class="section-two">
		<div class="col-lg-8 col-lg-offset-2 text-center">
	        <h2 class="section-heading" style="text-transform: uppercase;">What Is Alfred ?</h2>
	        <hr class="light">
	        <p class="text-faded">Alfred helps you to ride share in our cities in an affordable manner using the concept of car sharing. Alfred is an IOS and Android app which has been developed with the sole purpose of organising and facilitating ridesharing with a few clicks of a button. The app aims to make each task as easy as possible for users as algorithms automatically match users with suitable and relevant rides.</p>
	        <a href="http://www.alfredridesharing.com/competition/"><%= image_tag("button_get_started.png")%></a>
	    </div>
	    <div><%= image_tag("road_01.png")%></div>
	    <div><%= image_tag("road_02.png")%></div>
	    <div><%= image_tag("road_03.png")%></div>
	    <div><%= image_tag("road_04.png")%></div>
	</section>

	<section class="section-three">
		
	</section>

	<section class="section-four">
		
	</section>
</div>

