<div class="section-container">
	<%= render "section_one" %>
	<%= render "section_two" %>
	<%= render "section_two_mobile" %>
	<%= render "section_three" %>
	<%= render "section_three_mobile" %>
	<%= render "section_four" %>
</div>
